{{!
	Ember dropdown-list component template
	See http://emberjs.com/deprecations/v1.x/#toc_ember-select
	20 November 2015
}}

<select multiple={{multiple}} class="{{class}}">
	{{#each contentCopy as |item index|}}
		<option
			data-index="{{index}}"
			value="{{lookup item valuePath}}"
			selected={{unless multiple
						(eq value (lookup item valuePath))
						(contains (lookup item valuePath) value)
					}}
		>{{lookup item labelPath}}</option>
	{{/each}}
</select>

