{{yield}}{{!
	Ember dropdown-list component template
	See http://emberjs.com/deprecations/v1.x/#toc_ember-select
	20 November 2015
}}

<select multiple={{multiple}} class="{{class}}">
	{{#each contentCopy as |item index|}}
		<option
			data-index="{{index}}"
			value="{{get item valuePath}}"
			selected={{unless multiple
				(eq value (get item valuePath))
				(contains (get item valuePath) value)
			}}
		>
			{{get item labelPath}}
		</option>
	{{/each}}
</select>

